name: Release PyPI

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  release:
    name: Release PyPI
    environment:
      name: pypi
      url: https://pypi.org/p/openai-agents
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: make install

      - name: Build package
        run: make build
      
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
